.Members {
  .membersWrap {
    width: 100%;
    .top {
      width: 100%;
      margin-bottom: 60px;
      &.on {
        ul{
          transform: translateX(0%);
          li:nth-of-type(3) {
            >svg {
              transform: scale(1.3) rotate(0deg);
            }
          }
        }
      }
      ul {
        width: 50%;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        transform: translateX(90%);
        transition: all 0.5s 0.5s;
        li {
          border: 1px solid rgba(var(--baseColor-code), 0.6);
          padding:3px 15px;
          font-size: 3rem;
          border-radius: 3rem;
          font-family: var(--baseTitFont);
          &:nth-of-type(3) {
            width: 60px;
            height: 60px;
            border: none;
            background-color: var(--pointColor);
            color:#fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              transform: translateX(10%);
            }
            >svg {
              transition: 0.5s;
              transform: scale(1.3) rotate(180deg);
            }
          }
        }
        &:nth-child(2) {
          margin-bottom: 40px;
          transition: all 1s 0.5s;
        }
      }
      .topText {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        > p {
          font-size: 1.6rem;
        }
        >span {
          font-size: 1.8rem;
          font-family: var(--baseTitFont);
          padding: 0 5px;
        }
        >svg {
          font-size: 2rem;
          margin-bottom: -5px;
        }
      }
    }
    .infoBox {
      >h2 {
        display: inline-block;
        border: 1px solid rgba(var(--baseColor-code), 0.6);
        padding:10px 50px 10px 20px;
        font-size: 2.6rem;
        border-radius: 3rem;
        font-family: var(--baseTitFont);
        position: relative;
        margin-bottom: 30px;
        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
          border-radius: 10px;
          background-color: var(--pointColor);
        }
      }
    }
    .formBox {
      form fieldset,form fieldset table {
          border : none;
          tbody{
            tr {
              display: block;
              .gender {
                padding:20px;
                td {
                  input {
                    color: red;
                    &:checked {
                      color : red;
                    }
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }