@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

:root {
	--baseFont: 'Nanum Myeongjo', 'arial', '돋움';
	--pointFont: 'Syncopate', 'arial';
	--logoColor: #111;
	--baseColor: #222;
	--baseColor2: #666;
	--baseColor-code: 33, 33, 33;
	--pointColor: #5f6aa1;
	--bgColor: #fafafa;
	--comBgColor: #efefef;
	--titSize1: 2.4rem;
	--titSize2: 1.6rem;
	--bodySize: 1rem;
}
