@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,400&family=Montserrat:wght@300;400&family=Noto+Sans+KR:wght@200;300;400;500;600&family=Syncopate:wght@400;700&display=swap');

:root {
	--baseTitFont: 'Montserrat', sans-serif, 'arial', '돋움';
	--baseFont: 'Noto Sans KR', sans-serif, 'arial', '돋움';
	--pointFont: 'Syncopate', 'arial';
	--pointFont2: 'Cormorant Garamond', serif;
	--baseTitWeight: 400;
	--baseWeight: 300;
	--logoColor: #111;
	--baseColor: #222;
	--baseColor2: #666;
	--baseColor-code: 33, 33, 33;
	--pointColor: #5f6aa1;
	--bgColor: #fafafa;
	--bgColor-code: 255, 255, 255;
	--comBgColor: #efefef;
	--titSize1: 2.4rem;
	--titSize2: 1.6rem;
	--bodySize: 1rem;
}
.dark {
	--baseColor: #fff;
	--baseColor-code: 255, 255, 255;
	--bgColor-code: 33, 33, 33;
	--bgColor: #111;
	--logoColor: #fff;
}
