.Gallery {
	--num: 4;
	.top {
		height: 35vh;
		display: flex;
		justify-content: space-between;
		h2 {
			font-size: 4rem;
			line-height: 1;
		}
		> div {
			width: 60%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			.search {
				display: flex;
				margin-bottom: 30px;
				width: 100%;
				> div {
					width: 100%;
					position: relative;
					margin-right: 10px;
					input {
						width: 100%;
						height: 40px;
						line-height: 1;
						border: 1px solid rgba(var(--baseColor-code), 0.5);
						border-radius: 30px;
						padding-left: 20px;
						transition: 0.5s;
						&:focus {
							outline: 1;
							outline-color: rgba(var(--baseColor-code), 0.7);
						}
					}
					> span {
						position: absolute;
						right: 0;
						top: 0;
						display: block;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 40px;
						height: 40px;
						cursor: pointer;
						svg {
							font-size: 0.8rem;
							color: var(--baseColor);
						}
					}
				}
				button {
					width: 80px;
					height: 40px;
					border-radius: 20px;
					background-color: var(--baseColor);
					color: var(--bgColor);
					border: none;
					margin-right: 5px;
					cursor: pointer;
				}
			}
			> div {
				margin-bottom: 50px;
				text-align: right;
				h3 {
					display: inline-block;
					position: relative;
					font-size: 1.3rem;
					margin-bottom: 20px;
					margin-right: 30px;
					&::after {
						position: absolute;
						right: -25px;
						top: 7px;
						content: 'i';
						display: block;
						text-align: center;
						line-height: 16px;
						width: 16px;
						height: 16px;
						border-radius: 25px;
						font-size: 0.8rem;
						color: rgba(var(--baseColor-code), 0.5);
						border: 1px solid rgba(var(--baseColor-code), 0.5);
					}
				}
				> ul {
					width: 100%;
					display: flex;
					gap: 3px;
					li {
						height: 30px;
						line-height: 30px;
						border: 1px solid rgba(var(--baseColor-code), 0.3);
						border-radius: 30px;
						padding: 0 14px;
						font-size: 0.8rem;
						cursor: pointer;
						> svg {
							margin-left: 10px;
							margin-bottom: -2px;
							color: rgba(var(--baseColor-code), 0.3);
							transition: 0.2s;
						}
						&:hover {
							svg {
								color: rgba(var(--baseColor-code), 0.8);
							}
						}
					}
				}
			}
		}
	}
	.controls {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px 5px;
		margin-bottom: 60px;
		.btnSet {
			display: flex;
			width: 100%;
			border-top: 1px solid rgba(var(--baseColor-code), 0.3);
			button {
				min-width: 20%;
				margin-top: -1px;
				cursor: pointer;
				padding: 15px 30px 15px 5px;
				border: none;
				background-color: transparent;
				border-right: 1px solid rgba(var(--baseColor-code), 0.3);
				font-size: 1rem;
				color: rgba(var(--baseColor-code), 0.6);
				position: relative;
				transition: 0.5s;
				text-align: left;
				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0px;
					left: 0;
					width: 0%;
					height: 2px;
					background: var(--baseColor);
					transition: 0.5s;
				}
				&::before {
					position: absolute;
					right: 10px;
					top: 23px;
					content: 'i';
					display: block;
					text-align: center;
					line-height: 16px;
					width: 16px;
					height: 16px;
					border-radius: 25px;
					font-size: 0.8rem;
					color: rgba(var(--baseColor-code), 0.5);
					border: 1px solid rgba(var(--baseColor-code), 0.5);
				}

				&.on {
					color: rgba(var(--baseColor-code), 1);
					&::after {
						width: 100%;
					}
				}
			}
		}
	}
	.frameWrap {
		--gap: 20px;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		gap: 20px;
		.frame {
			width: 75%;
			min-height: 20vh;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: var(--gap);
			.noPics {
				width: 100%;
				min-height: 10vh;
				padding: 10px 20px;
				border-top: 1px solid rgba(var(--baseColor-code), 0.5);
				color: rgba(var(--baseColor-code), 0.5);
				h2 {
					font-size: 1.2rem;
					font-weight: 300;
					> svg {
						font-size: 2rem;
						margin-bottom: -10px;
					}
				}
			}
			article {
				//사이간격 고정값 쓰는 경우
				//각 박스 넓이값 : 전체 넓이값에서 사이간격의 총 넓이를 빼주고 다시 컬럼수만큼 나누기
				//calc((부모넓이값 - 사이간격 * 사이간격 수) / 컬럼수)
				width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
				margin-bottom: 50px;
				transition: 0.5s;
				border-top: 1px solid rgba(var(--baseColor-code), 0.3);
				padding-top: 10px;
				&:hover {
					.pic {
						> img {
							filter: grayscale(1);
						}
					}
				}
				&.mask {
					.pic {
						img {
							&.Mask1 {
								mask: url('../../../../public/img/mask1.png');
								mask-size: contain;
								mask-repeat: no-repeat;
								mask-position: 50% 50%;
							}
							&.Mask2 {
								mask: url('../../../../public/img/mask2.png');
								mask-size: contain;
								mask-repeat: no-repeat;
								mask-position: 50% 50%;
							}
							&.Mask3 {
								mask: url('../../../../public/img/mask3.png');
								mask-size: contain;
								mask-repeat: no-repeat;
								mask-position: 50% 50%;
							}
							&.Mask4 {
								mask: url('../../../../public/img/mask4.png');
								mask-size: contain;
								mask-repeat: no-repeat;
								mask-position: 50% 50%;
							}
							&.Mask5 {
								mask: url('../../../../public/img/mask5.png');
								mask-size: contain;
								mask-repeat: no-repeat;
								mask-position: 50% 50%;
							}
						}
						> svg {
							display: none;
						}
					}
					.profile {
						img {
							border-radius: 0;
						}
					}
				}
				.pic {
					width: 100%;
					margin-bottom: 10px;
					position: relative;
					img {
						width: 100%;
						transition: 0.5s;
						filter: grayscale(0);
						cursor: pointer;
						transition: 0.5s;
						border-radius: 10px 60px 10px 10px;
					}
					.checkBox {
						position: absolute;
						top: 5px;
						right: 5px;
						> input {
							opacity: 0;
							position: absolute;
							top: 0;
							left: 0;
							cursor: pointer;
						}
						.checkbox-button {
							display: block;
							width: 22px;
							height: 22px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 6px;
							transition: 0.1s;
							background-color: #fff;
							> svg {
								display: block;
								color: var(--bgColor);
								cursor: pointer;
							}
						}
						> input:not(:checked) + .checkbox-button {
							border: 1px solid rgba(var(--baseColor-code), 0.5);
							> svg {
								color: transparent;
							}
						}

						> input:checked + .checkbox-button {
							border: transparent;
							background-color: var(--pointColor);
							> svg {
								color: var(--bgColor);
							}
						}
					}
					> svg {
						position: absolute;
						right: 0px;
						top: 0px;
						width: 30%;
						> path {
							transform: translate(3px, -2px);
							fill: var(--bgColor);
						}
					}
				}
				> p {
					display: flex;
					justify-content: space-between;
					font-size: 0.5rem;
				}
				h2 {
					font-size: 1.3rem;
					font-weight: 500;
					line-height: 1.2;
					word-break: break-all;
					text-align: justify;
					margin-bottom: 30px;
				}
				.profile {
					width: 100%;
					display: flex;
					align-items: flex-end;
					justify-content: space-between;
					gap: 10px;
					margin-bottom: 20px;
					img {
						width: 40px;
						border-radius: 20px;
					}
					> p {
						display: flex;
						flex-direction: column;
						color: var(-pointColor);
						font-size: 0.8rem;
						font-weight: 500;
						align-items: flex-start;
						span:nth-of-type(1) {
							font-size: 0.6rem;
							font-weight: 300;
							border: 1px solid rgba(var(--baseColor-code), 0.6);
							border-radius: 20px;
							padding: 1px 5px;
							margin-bottom: 3px;
						}
					}
				}
			}
		}
		.info {
			width: 25%;
			padding: 10px;
			h3 {
				width: 100%;
				word-break: break-all;
				font-size: 3rem;
				line-height: 0.8;
				margin-bottom: 50px;
			}
			.topBottom {
				display: flex;
				margin-bottom: 50px;
				.themeBox {
					width: 100px;
					height: 26px;
					cursor: pointer;
					position: relative;
					background-color: rgba(var(--baseColor-code));
					border: 1px solid rgba(var(--baseColor-code), 0.6);
					border-radius: 18px;
					.ball {
						position: absolute;
						left: 0px;
						top: 0px;
						width: 60px;
						height: 24px;
						line-height: 24px;
						text-align: center;
						border-radius: 17px;
						background-color: var(--bgColor);
						transition: 0.3s;
						color: rgba(var(--baseColor-code));
					}
					&.mask {
						.ball {
							transition: 0.5s;
							left: 38px;
						}
					}
				}
				.dropBox {
					height: 26px;
					border: 1px solid rgba(var(--baseColor-code), 0.6);
					border-radius: 18px;
					margin-right: 20px;
					position: relative;
					z-index: 5;
					.container {
						.dropdown-button {
							width: 100px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							> button {
								display: block;
								width: 100%;
								line-height: 24px;
								border: none;
								background-color:var(--bgColor);
								padding: 0px 10px;
								cursor: pointer;
								border-radius: 18px;
								color: rgba(var(--baseColor-code), 0.9);
								transition: 0.3s;
								&:hover {
									background-color:var(--baseColor);
									color: rgba(var(--bgColor-code), 0.9);
									>svg {
										color: rgba(var(--bgColor-code), 0.6);
									}
								}
								svg {
									margin-left: 10px;
									margin-bottom: -2px;
									transform: scale(130%);
									color: rgba(var(--baseColor-code), 0.6);
									transition: 0.3s;
								}
							}
						}
						.dropdown-container {
							background-color: var(--bgColor);
							.dropdown-content {
								li {
									width: 100%;
									height: 26px;
									line-height: 26px;
									font-size: 0.8rem;
									transition: 0.2s;
									border: 1px solid rgba(var(--baseColor-code), 0.6);
									border-radius: 18px;
									text-align: center;
									&:hover {
										background-color: rgba(var(--baseColor-code), 0.8);
										color: var(--bgColor);
									}
								}
							}
						}
					}
				}
			}
			.checkedList {
				display: flex;
				flex-direction: column;
				align-items: center;
				border: 1px solid rgba(var(--baseColor-code), 0.5);
				gap: 10px;
				padding: 10px 0;
				article {
					> .img {
						width: 100px;
						height: 100px;
						> img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}

//laptop
.laptop,
.tablet,
.mobile {
	.Gallery {
		--num: 3;
		.top {
			height: 40vh;
			gap: 12%;
			h2 {
				font-size: 3.8rem;
			}
		}
		.controls {
			margin-bottom: 40px;
		}
		.frameWrap {
			.frame {
				article {
					> p {
						display: flex;
						justify-content: space-between;
						font-size: 0.5rem;
					}
					h2 {
						font-size: 1.1rem;
						line-height: 1;
					}
				}
			}
			.info {
				.topBottom {
					.themeBox {
						.ball {
							width: 100%;
						}
						&.mask {
							.ball {
								left: 0;
								background-color: var(--baseColor);
								color: rgba(var(--bgColor-code));
							}
						}
					}
				}
			}
		}
	}
}
//tablet
.tablet,
.mobile {
	.Gallery {
		--num: 2;
		.top {
			height: 40vh;
			gap: 0;
			flex-direction: column;
			margin-bottom: 40px;
			transition: 0.5s;
			h2 {
				font-size: 3.5rem;
			}
			> div {
				width: 100%;
				flex-direction: column-reverse;
				margin-top: -100px;
				transition: 0.5s;
			}
		}
		.controls {
			margin-bottom: 30px;
			transition: 0.5s;
		}
		.frameWrap {
			flex-direction: column-reverse;
			.frame {
				width: 100%;
				article {
					h2 {
						font-weight: 400;
					}
				}
			}
			.info {
				width: 100%;
				.checkedList {
					display: none;
				}
			}
		}
	}
}
//mobile
.mobile {
	.Gallery {
		--num: 1;
		.top {
			margin-bottom: 60px;
			h2 {
				font-size: 3rem;
				margin-bottom: 30px;
			}
			> div {
				width: 100%;
				flex-direction: column;
				margin-top: 0px;
				transition: 0.5s;
				> div {
					margin-bottom: 50px;
					text-align: right;
					> ul {
						flex-wrap: wrap;
						li {
							padding: 0 5px;
						}
					}
				}
			}
		}
		.controls {
			padding: 0;
			margin-bottom: 30px;
			.btnSet {
				display: flex;
				width: 100%;
				border-top: 1px solid rgba(var(--baseColor-code), 0.3);
				button {
					min-width: 30%;
					width: 30%;
					padding: 10px 20px 5px 5px;
					&::before {
						display: none;
					}
				}
			}
		}
		.frameWrap {
			.frame {
				article {
					> p {
						font-size: 0.7rem;
						margin-bottom: 10px;
					}
					h2 {
						font-size: 1.3rem;
						font-weight: 400;
					}
					.pic {
						margin-bottom: 20px;
					}
					.profile {
						img {
							width: 46px;
							border-radius: 30px;
						}
					}
				}
			}
			.info {
				width: 100%;
				.checkedList {
					display: none;
				}
			}
		}
	}
}
