.Layout {
	width: 70vw;
	min-height: 60vh;
	margin: 50px auto;
	opacity: 0;
	transition: 0.5s;
	h1 {
		width: 100%;
		font-weight: var(--baseTitWeight);
		font-size: 4rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 30px;
		font-family: var(--baseTitFont);
	}
	.layoutWrap {
		width: 100%;
		// border-radius: 20px 20px 0 0;
		// background-color: var(--comBgColor);
		overflow: hidden;
		padding: 30px 20px;
	}

	&.on {
		opacity: 1;
		transition: 0.3s;
	}
}
.tablet,
.mobile {
	.Layout {
		width: 90vw;
		margin: 30px auto;
		h1 {
			font-size: 3rem;
		}
	}
}
.mobile {
	.Layout {
		h1 {
			font-size: 2rem;
		}
		.layoutWrap {
			padding: 0;
		}
	}
}
