.Layout {
	width: 80vw;
	min-height: 60vh;
	margin: 50px auto;
	opacity: 0;
	transition: 0.5s;
	h1 {
		width: 100%;
		font-weight: normal;
		font-size: 4rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 30px;
	}
	.wrap {
		width: 100%;
		border-radius: 20px 20px 0 0;
		background-color: var(--comBgColor);
	}

	&.on {
		opacity: 1;
		transition: 0.3s;
	}
}
