header {
	background-color: #fafafa;
	padding: 0 60px;
	.top {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ccc;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 14px;
		h1 {
			font-family: var(--pointFont);
		}
		.dropBox {
			position: absolute;
			right: 5px;
			top: 10px;
		}
	}
	.bottom {
		display: flex;
		justify-content: space-between;
		padding-bottom: 10px;
		ul.scrollMenu {
			flex: 1;
			display: flex;
			gap: 1%;
			li {
				font-size: 0.9rem;
				padding: 5px;
			}
		}
		ul.menu {
			display: flex;
			justify-content: space-between;
			gap: 10px;

			li a {
				display: block;
				padding: 0 14px;
				height: 20px;
				line-height: 20px;
				border: 1px solid #999;
				border-radius: 20px;
				font-size: 0.9rem;

				&.on {
					color: var(--pointColor);
				}
			}
			> button {
				width: 20px;
				height: 20px;
				border-radius: 10px;
				border: 1px solid #666;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: transparent;
				font-size: 0.9rem;
				color: #666;
			}
		}
		.menuToggle {
			display: none;
		}
	}
}

.tablet,
.mobile {
	header {
		width: 80vw;
		.bottom {
			ul.menu {
				display: none;
			}
			.menuToggle {
				display: block;
			}
		}
	}
}
