.Community {
	min-height: 100vh;
	.communityWrap {
		position: relative;
	}
	.openToggleButton {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		color: var(--bgColor);
		background-color: var(--pointColor);
		border: none;
		font-size: 1.6rem;
		line-height: 34px;
		text-align: center;
		cursor: pointer;
		transition: 0.5s;
		&.on {
			transform: rotate(45deg);
		}
	}
	.showBox {
		display: flex;
		flex-direction: column;
		> nav {
			width: 50%;
			margin: 0 auto;
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
		}
		.postList {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 10px;
			.commentBox {
				width: 32%;
				padding: 20px 30px;
				transition: 0.2s;
				border-radius: 10px;
				> .txt {
					.top {
						display: flex;
						align-items: center;
						gap: 20px;
						> .img {
							width: 40px;
							height: 40px;
							border-radius: 20px;
							overflow: hidden;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
					> h2 {
						font-size: 1rem;
						border-bottom: 1px solid rgba(var(--baseColor-code), 0.6);
						margin-bottom: 10px;
					}
					.content {
						display: block;
						padding: 5px;
						background-color: rgba(var(--bgColor-code), 1);
						font-size: 0.8rem;
						margin-bottom: 20px;
					}
					> span {
						display: block;
						font-size: 0.7rem;
						margin-bottom: 10px;
						&:nth-of-type(2) {
							display: flex;
							font-size: 0.8rem;
							width: 130px;
							border: 1px solid rgba(var(--baseColor-code), 0.5);
							background-color: var(--bgColor);
							border-radius: 20px;
							padding: 2px 8px;
							justify-content: space-between;
							align-items: center;
							gap: 10px;
							> svg {
								margin-bottom: -3px;
							}
						}
					}
					.replyView {
						ul {
							background-color: var(--bgColor);
							padding: 3px;
							border-radius: 2px;
							li {
								width: 100%;
								border-bottom: 1px solid rgba(var(--baseColor-code), 0.2);
								margin: 2px;
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 3px 5px;
								> span {
									font-size: 0.9rem;
									> svg {
										margin-right: 5px;
										color: var(--pointColor);
									}
									&:nth-of-type(2) {
										font-size: 0.7rem;
									}
								}
							}
						}
					}
				}
				.replyInput {
				}
				> nav {
					button {
						border: none;
						// border:1px solid rgba(var(--baseColor-code),0.5);
						padding: 2px 5px;
						margin-right: 5px;
						font-size: 1rem;
						width: 30px;
						height: 30px;
						border-radius: 20px;
						color: var(--bgColor);
						background-color: var(--baseColor);
						transition: 0.5s;
						&.on {
							background-color: var(--pointColor);
						}
					}
				}

				&.character1 {
					background-color: rgba(255, 165, 0, 0.1);
				}
				&.character2 {
					background-color: rgba(100, 149, 237, 0.1);
				}
				&.character3 {
					background-color: rgba(34, 139, 34, 0.1);
				}
				&.character4 {
					background-color: rgba(255, 228, 196, 0.1);
				}
				&.character5 {
					background-color: rgba(255, 192, 203, 0.1);
				}
			}
		}
	}
}
