.InputBox {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-size: 4rem;
	}
	> p {
		width: 80%;
		text-align: center;
		padding: 20px 0;
		border-bottom: 1px solid rgba(var(--baseColor-code), 0.6);
	}
	> span {
		position: relative;
		color: var(--pointColor);
		font-size: 0.6rem;
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: -10px;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 5px;
			border-radius: 5px;
			background-color: var(--pointColor);
		}
	}
	input,
	textarea {
		border-radius: 17px;
		background-color: var(--bgColor);
		transition: 0.3s;
		color: rgba(var(--baseColor-code));
		border: 1px solid rgba(var(--baseColor-code), 0.6);
	}
	nav {
	}
}
